/* Reset básico para eliminar márgenes y paddings por defecto y establecer box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales para el cuerpo del documento */
  body {
    font-family: "Poppins", sans-serif;  /* Fuente principal */
    min-height: 100vh;  /* Asegura que el cuerpo ocupe al menos la altura completa de la ventana */
    background: #f9f9f9;  /* Color de fondo */
    color: #F1F1ED;  /* Color de texto */
  }
  
  /* Estilos para encabezados h1 */
  h1 {
    font-size: 2rem;  /* Tamaño de fuente */
    font-weight: 600;  /* Peso de la fuente */
  }
  
  /* Estilos para el contenedor principal */
  main {
      display: flex;  /* Layout flexible */
      justify-content: space-between;  /* Distribución horizontal con espacio entre elementos */
      align-items: stretch;  /* Alineación vertical para que los elementos se estiren para ocupar todo el espacio disponible */
      min-height: 100vh;  /* Altura mínima */
      padding: 0 10rem;  /* Padding horizontal */
  }
  
  /* Estilos para el contenedor del canvas */
  .canvas-container {
      display: flex;
      flex-direction: column;  /* Organización vertical de los elementos */
      justify-content: center;  /* Centrado vertical */
      align-items: center;  /* Centrado horizontal */
      margin: 0.5rem 2rem;  /* Márgenes */
  }
  
  /* Estilos para etiquetas label */
  label {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      margin: 0.8rem;  /* Márgenes */
  }
  
  /* Estilos para campos de entrada de tipo número */
  input[type="number"] {
      height: 2rem;
      margin: 0.5rem;
      margin-bottom: 1.5em;
      border-radius: 0.25rem;
      border: 1px solid #eeeef0;
      padding: 0 0.5rem;
      font-size: 1rem;
      outline: none;  /* Elimina el borde de foco predeterminado */
  }
  
  /* Estilos para el contenedor de campos de entrada */
  .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #2A3234;
      flex: 1;
      margin: 0.5rem 2rem;
      width: 50%;
  }
  
  /* Estilos para el contenedor general */
  .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;  /* Espacio entre elementos */
      background-color: #2A3234;
  }
  
  /* Estilos para el contenedor de botones */
  .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #2A3234;
      gap: 2rem;  /* Espacio entre botones */
  }
  
  /* Estilos para botones */
  button {
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      color: #fff;
      background: #92959C;
      border-radius: 5.625rem;
      border: none;
      padding: 0.9rem 1rem;
      width: 8rem;
  }
  
  /* Estilos para el estado hover de botones */
  button:hover {
      cursor: pointer;  /* Cambia el cursor a una mano al pasar el mouse */
      background: #1c1c1e;  /* Cambia el color de fondo */
  }
  